aopalliance asm backport-util-concurrent classworlds com commons-beanutils commons-cli commons-codec commons-collections commons-configuration commons-daemon commons-digester commons-el commons-httpclient commons-io commons-lang commons-logging commons-net io javax jline junit log4j net org oro stax tomcat velocity xerces xml-apis xmlenc
